body {
  margin: 0;
  background-color: black;
  width: 100%;
  height: 100%;
	font-family: Verdana;
}

svg {
  border: 1px solid black;
  background-color: #eee;
  display: block;
  margin: 1.5% auto;
}

.img-circle {
  height: 50px;
  width: 50px;
  background-color: blue;
  margin: 5px;
}

.sign-up-background {
	background: url("../assets/background.png");
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	text-align: center;
}

#sign-up-logo {
	width: 80vmin;
}

#sign-up-form>input {
	border: none;
	border-radius: 2px;
	width: 60vmin;
	max-width: 300px;
	margin: 2px;
	height: 30px;
	box-shadow: 0 0 1px black;
	padding-left: 10px;
}

#sign-up-submit {
	border: none;
	padding: 10px;
	width: 100px;
	background-color: rgb(0, 119, 255);
	color: black;
	margin: 10px;
}

#sign-up-submit:hover {
	background-color: rgb(0, 169, 255);
}

#sign-up-message {
	color: red;
	height: 20px;
	font-size: 20px;
	margin: 5px;
}
