body {
  margin: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  font-family: Verdana;
}

.img-circle {
  height: 50px;
  width: 50px;
  background-color: blue;
  margin: 5px;
}

#main-link {
  text-decoration: none;
  color: black;
}

#main-result {
  width: 80vmin;
  height: auto;
  background-color: white;
  margin: 0 auto 1px auto;
  padding: 3vmin;
  box-shadow: -3px 0 0 gray;
  text-align: left;
}

#main-result:hover {
  box-shadow: -3px 0 0 rgb(0, 119, 255);
}

#main-name {
  font-weight: bold;
}

#main-description {
  font-style: italic;
}

#main-phoneNumber, #main-address {
  font-size: 12px;
}

#editor-main {
  width: 92vw;
  min-height: 80vh;
  margin: 10vh auto 0 auto;
}

#editor-delete {
  width: 2vw;
  height: 2vw;
  border: none;
  background-color: black;
  color: red;
  font-size: 1vw;
}

#map-svg, #editor-control {
  border: none;
  background-color: black;
  opacity: 0.95;
  width: 60vw;
  height: 80vh;
  position: relative;
  display: inline-block;
  margin: 0;
  float: right;
}

#user-map {
  border: none;
  background-color: black;
  opacity: 1;
/*  width: 100vw;
  height: 100vh;*/
  position: relative;
  display: inline-block;  
  margin: 0;
}

.map-container {
  text-align: center;
}

.map-item-search {
  position: absolute;
  z-index: 9999;
  top: 50px;
  border: 1px solid #ccc;
}

#editor-control {
  width: 30vw;
  margin: 0 0 0 2vw;
  padding: 1vw 2vw 1vw 2vw;
  color: white;
  overflow-y: scroll; 
}

#floor-plan-coor, #shelves-coor, #items-attr {
  width: 8vw;
}

#floor-plan-coor>input, #shelves-coor>input, #items-attr>input {
  width: 8vw;
  font-size: 1vw;
  color: black;
}

#main-search, #main-search:focus {
  width: 80vmin;
  height: 5vmin;
  font-size: 4vmin;
  padding: 4vmin;
  color: black;
  outline: none;
  margin-bottom: 2vh;
}

#main-nav {
  position: absolute;
  right: 0;
}

#editor-scale {
  background-color: black;
  color: white;
  width: 15vw;
  font-size: 1.5vw;
  border: none;
}

#editor-scale:focus {
  outline: none;
}

.auth-background, .map-background, .main-background {
  background: url("../assets/background.png");
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  position: absolute;
  background-position: center;
}

.auth-background, .main-background{
  text-align: center;
}

#auth-logo, #main-logo {
  width: 75vmin;
}

#auth-text {
  color: white;
  font-size: 12px;
}

#auth-form>input {
  border: none;
  border-radius: 2px;
  width: 60vmin;
  max-width: 300px;
  margin: 2px;
  height: 30px;
  box-shadow: 0 0 1px black;
  padding-left: 10px;
}

#auth-submit, #auth-redirect, #editor-submit, #main-submit, #main-redirect {
  border: none;
  padding: 10px;
  width: 100px;
  background-color: rgb(0, 119, 255);
  color: black;
  margin: 10px;
  border-radius: 1px;
  display: inline-block;
}

#auth-redirect, #main-redirect {
  font-size: 10px;
  padding: 5px;
  width: 75px;
  margin: 0px;
}

#main-redirect {
  float: right;
  margin-left: 2px;
  background-color: white;
  color: black;
  opacity: 0.25; 
  text-align: center;       
}

#main-redirect:hover {
  background-color: rgb(0, 119, 255);
  opacity: 0.75;    
}


#editor-submit {
  font-size: 10px;
  padding: 5px;
  width: 75px;
}

#editor-redirect {
  border: none;
  width: 7vw;
  background-color: black;
  color: white;
  margin: -1vw 0 2vw 0;
  display: inline-block;
  text-align: center;
  font-size: 12px;
}

#editor-redirect:hover {
  background-color: white;
  color: black ;
}

#auth-submit:hover, #auth-redirect:hover, #editor-submit:hover, #main-submit:hover {
  background-color: rgb(0, 169, 255);
}

#auth-message {
  color: red;
  height: 20px;
  font-size: 20px;
  margin: 5px;
}

.form-inline {
  margin: 5% 5% 50px 5%;
  text-align: center;
}
