Scale:
<input id='editor-scale' type='number' value='{{scale}}' ng-model='scale' ng-change='render()'></input>
<div ng-repeat='(index,coor) in data.floorPlan'>
  <span id='floor-plan-coor'>{{ 'X:  '}}
    <input type='number' value='{{coor.x}}' ng-model='data.floorPlan[index].x' ng-change='render()'></input>
  </span>
  <span id='floor-plan-coor'>{{ 'Y:  '}}
    <input type='number' value="{{coor.y}}" ng-model='data.floorPlan[index].y' ng-change='render()'></input>
  </span>
  <button href='' id='editor-delete' type='delete' ng-click='delete(index, "floorPlan"); render()'>X</button>
  <br>
</div>
<button href='' id='editor-submit' type='submit' ng-click='updateAll()'>update</button>