<div class='main-background'>
	<div id='main-nav'>
		<a href='#/signin'><div id='main-redirect'>Sign In</div></a>
		<a href='#/signup'><div id='main-redirect'>Sign Up</div></a>
	</div>
	<img id='main-logo' src='./assets/Triumpet-logo.png'></img>
	<br>
	<input id='main-search' type='text' placeholder='Search (e.g: Walmart, Target, etc..)' ng-model='query'></input>
	<br>
	<div ng-repeat='retailer in data | filter: query'>
		<div id='main-result'>
			<span id='main-name'>{{retailer.name}}</span><br>
			<span id='main-description'>{{retailer.description}}</span><br>
			<span id='main-phoneNumber'>{{retailer.phoneNumber}}</span><br>
			<span id='main-address'>{{retailer.address}}</span>
		</div>
	</div>
	<button type='submit' id='main-submit' ng-click='fetchAll()'>Search</button>
</div>
