<div class='sign-up-background'>
	<img id='sign-up-logo' src='./assets/Triumpet-logo.png'></img>
	<div id='sign-up-message' ng-model='message'>{{message}}</div>
	<form id='sign-up-form'>
				<input type='text' placeholder='Username' ng-model='username' required></input><br>
				<input type='password' placeholder='Password' ng-model='password' required></input><br>
				<input type='text' placeholder='First Name' ng-model='firstName' required></input><br>
				<input type='text' placeholder='Last Name' ng-model='lastName' required></input><br>
				<input type='text' placeholder='E-mail' ng-model='email' required></input><br>
				<button href='' id='sign-up-submit' type='submit' ng-click='create()'>Submit</button>
	</form>
</div>
